*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ
app.iml
.idea/git_toolbox_prj.xml
.idea/navEditor.xml

*.iml
.idea/assetWizardSettings.xml
.idea/caches
.idea/codeStyles
.idea/copyright/profiles_settings.xml
.idea/dictionaries
.idea/gradle.xml
.idea/google-java-format.xml
.idea/inspectionProfiles/
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/markdown-exported-files.xml
.idea/markdown-navigator/
.idea/.name
.idea/compiler.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dynamic.xml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/kotlinc.xml
.idea/kotlinScripting.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator/profile_settings.xml
.idea/jarRepositories.xml